@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Bold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
.footer{
    font-family: "Jost";
    width: 1240px;
    height: 170px;
    position: relative;
    top: 550px;
    left: 100px;
}
.line_footer{
    border: 1px solid #1B1B1D;
    width: 1239.43px;
    opacity: 10%;
}
.footer h6{
    width: 377.83px;
    height: 30px;    
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #64646A;
    white-space:nowrap;
    position: absolute;
    bottom: 100px;
    left: 0;
}
.footer span{
    font-weight: 500;
    color: #1B1B1D;
}
.footer p{
    margin: 0;
    width: 277.45px;
    height: 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #64646A;
    position: absolute;
    bottom: 100px;
    right: 0;
}
@media (max-width: 480px) {
    .footer{
        left: 50px;
    }
}